/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.change-font-size {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

#four {
    background-color: lightgreen;
    font-family: Arial;
    font-weight: bold;
}